body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.uppercase {
    text-transform: uppercase;
}

/****************** header section ******************/

header {
    background-image: url(../images/desktop/image-hero.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40rem;
    padding: 0 6rem;
}

.logo {
    margin-left: 2rem;
}

.bar-menu {
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
    font-family: 'Alata', sans-serif;
    padding-bottom: 6rem;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li a{
    margin-right: 2rem;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-size: 15px;
}

.box-inmmersive {
    border: 2px solid hsl(0, 0%, 100%);
    width: 50%;
    margin-left: 2rem;
}

.box-inmmersive h1 {
    text-transform: uppercase;
    color:hsl(0, 0%, 100%);
    font-weight: 300;
    font-size: 4rem;
    margin: 2rem;
}

/******************** section-leader *************************/

.section-leader {
    display: flex;
    padding: 8rem 8rem;
}

.vr-img {
    width: 60%;
}

.box-info {
    width: 40%;
    background-color: hsl(0, 0%, 100%);
    padding: 2rem 5rem;
    position: absolute;
    right: 1rem;
    margin-top: 12rem;
}

.box-info p {
    width: 89%;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    color: hsl(0, 0%, 41%);
}

h2 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2.5rem;
}

/************************ Section Our Creations *************************/

.section-our-creation {
    padding: 0 8rem;
}

.title-our-creation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-our-creation {
    text-decoration: none;
    border: 2px solid #000;
    width: 8rem;
    height: 1rem;
    color: hsl(0, 0%, 0%);
    text-align: center;
    padding: 10px;
    font-weight: bold;
    letter-spacing: 2px;
}

.first-part-images {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
    flex-direction: row;
}

.image {
    position: relative;
    display: inline-block;
    margin-top: 20px;
}

.text-images {
    position: absolute;
    bottom: 1px;
    color: hsl(0, 0%, 100%);
    font-size: 32px;
    width: 68%;
    margin-left: 40px;
}

.grid {
    width: 10%;
}

/*** FOOTER ****/

footer {
    background: rgb(0, 0, 0);
    padding: 1rem 0;
    margin-top: 10rem;
}

.footer-start {
    display: flex;
    justify-content: space-between;
    margin: 1rem 6rem;
}

.social-media a{
    margin: 0 5px;
}

.footer-end {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1em 6rem;
    font-weight: bold;
}

.rights {
    color:hsl(0, 0%, 41%);
}

/******** media queries ********/
@media screen and (max-width: 1300px) {

    header {
        height: 37rem;
    }

    .box-inmmersive h1 {
        font-size: 3.5rem;
    }

    .img-creations {
        width: 230px;
        height: 390px;
        margin: 10px 0 10px 0;
    }

    .box-info {
        margin-top: 10rem;
    }
    
}

@media screen and (max-width: 1200px) {
    .box-info {
        margin-top: 4rem;
    }
}

@media screen and (max-width: 1160px) {
    .section-our-creation {
        padding: 5rem 8rem 0;
    }
}

@media screen and (max-width: 1024px) {

    header {
        height: 35rem;
    }

    .box-inmmersive h1 {
        font-size: 3rem;
    }

    .box-inmmersive {
        padding-right: 40px;
    }

    .box-inmmersive h1 {
        font-size: 3rem;
    }

    .section-leader {
        padding: 6rem 8rem;
    }

    .box-info {
        padding: 1rem 0 1rem 4rem;
        position: absolute;
        right: 4rem;
        margin-top: 7rem;
    }
    
    .box-info p {
        width: 86%;
        font-size: 13px;
    }
    
    h2 {
        font-size: 2rem;
    }

    .section-our-creation {
        padding: 1rem 8rem 0;
    }

    .button-our-creation {
        width: 7rem;
        padding: 8px;
        font-size: 13px;
    }

   .img-creations {
       width: 230px;
       height: 390px;
       margin: 10px 0 10px 0;
   }

}

@media screen and (max-width: 414px) {
    /** header ***/

    body {
        max-width: 414px;
    }

    header {
        background-image: url(../images/mobile/image-hero.jpg);
        height: 44rem;
        padding: 0 1rem;
    }
    
    .logo {
        margin-left: .7rem;
    }
    
    .bar-menu {
        display: flex;
        justify-content: space-between;
        padding-top: 4rem;
        font-family: 'Alata', sans-serif;
        padding-bottom: 6rem;
    }
    
    .menu {
        /*list-style: none;
        display: flex;*/
        visibility: hidden;
    }
    /*
    .menu li a{
        margin-right: 2rem;
        text-decoration: none;
        color: hsl(0, 0%, 100%);
        font-size: 15px;
    }*/
    
    .box-inmmersive {
        width: 83%;
        margin-left: .7rem;
    }
    
    .box-inmmersive h1 {
        font-size: 2.7rem;
        margin: 1.3rem 1.5rem;
    }

    /*** SECTION LEADER ***/

    .section-leader {
        display: flex;
        padding: 6rem 1.5rem;
        flex-direction: column;
        align-items: center;
    }

    
    .vr-img {
        width: 100%;
    }
    
    .box-info {
        width: 90%;
        position:initial;
        margin:0;
        padding: 0;
        /*position: absolute;
        right: 1rem;
        top: 1rem;*/
        text-align: center;
    }
    
    .box-info p {
        width: 90%;
        text-align: center;
        font-size: 16px;
        margin: 0 10px 0 10px;
        line-height: 1.7;
        padding: 0 0 0 10px;
    }
    
    h2 {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 2rem;
    }

    /*** SECTION OUR CREATIONS ***/

    .section-our-creation {
        padding: 0 2rem;
    }
    
    .title-our-creation {
        
        justify-content: center;
        align-items: center;
    }
    
    .button-our-creation {
        /*text-decoration: none;
        border: 2px solid #000;
        width: 8rem;
        height: 1rem;
        color: hsl(0, 0%, 0%);
        text-align: center;
        padding: 10px;
        font-weight: bold;
        letter-spacing: 2px;*/
        display:none;
    }
    
    .first-part-images {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    .image {
        position: initial;
        width: 80%;
        margin-top: 20px;
    }
    
    .text-images {
        /*position: absolute;
        bottom: 1px;
        color: hsl(0, 0%, 100%);
        font-size: 32px;
        width: 68%;
        margin-left: 40px;*/
        display: none;
    }
    
    .grid {
        width: 10%;
    }
}
